div.bloco{
    background-image: url('imagens/wallpaper003.jpg');
    height: 200px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px;
}

#quadrado1{
    background-position: left bottom;
}

#quadrado2{
    background-position: center center;
}

#quadrado3{
    background-position: right bottom;
}

#quadrado4{
    background-position: top right;
}